body {
  padding-top: 59px;
  background-color: #000;
  font-family: Roboto, sans-serif;
  color: #d7d9de;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #f2f4f7;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Roboto, sans-serif;
  color: #f2f4f7;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {
  margin: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin: 0px 0px 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Roboto, sans-serif;
  color: #a5a7ad;
  font-size: 14px;
  line-height: 22px;
}

.button {
  display: inline-block;
  padding: 13px 24px;
  border-radius: 2px;
  background-color: #0ac278;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11), inset 0 -34px 50px -25px rgba(0, 0, 0, 0.16), inset 0 1px 0 0 hsla(0, 0%, 100%, 0.3);
  -webkit-transition: background-color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.button:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11), inset 0 -34px 50px -25px transparent, inset 0 1px 0 0 hsla(0, 0%, 100%, 0.3);
}

.button:active {
  background-color: #00c274;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.26), inset 0 2px 5px 0 transparent, inset 0 2px 2px 1px rgba(0, 0, 0, 0.16);
}

.button.form {
  width: 27%;
  margin-right: 0px;
  padding: 9px 10px;
  float: right;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #6e7278;
  color: hsla(0, 0%, 100%, 0.68);
}

.button.form:hover {
  background-color: #80858c;
  color: hsla(0, 0%, 100%, 0.94);
}

.button.form:active {
  background-color: #168c5d;
}

.button.on-white {
  box-shadow: 0 0 0 1px transparent, inset 0 -34px 50px -25px rgba(0, 0, 0, 0.16), inset 0 1px 0 0 transparent;
}

.button.contact {
  margin-bottom: 17px;
  padding: 18px 53px;
  background-color: #0f8ad1;
  font-size: 18px;
}

.button.sign-up {
  padding: 18px 53px;
  font-size: 19px;
}

.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  width: auto;
  border: 1px solid transparent;
  background-color: #fff;
}

.nav-link {
  display: block;
  padding: 20px;
  float: left;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #0057b8;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: transparent;
  color: #0bd685;
}

.nav-link:active {
  color: #1d1f21;
}

.nav-link.w--current {
  background-color: transparent;
  color: #1d1f21;
  text-decoration: none;
}

.nav-link.right {
  margin-top: 14px;
  margin-bottom: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: right;
  border: 1px solid #5f6266;
  border-radius: 2px;
}

.logo-text {
  position: static;
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;
  padding: 20px;
  clear: left;
  border-bottom: 3px none #5f6266;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.logo-text:hover {
  border-bottom-color: #4c709e;
}

.logo-text.footer {
  color: #5f6266;
}

.nav-menu {
  width: 88%;
  float: left;
}

.brand-wrapper {
  width: 12%;
}

.brand-wrapper.w--current {
  left: -60px;
  width: 25%;
  margin-left: -160px;
}

.section {
  position: relative;
  z-index: 10;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1d1f21;
}

.section.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1f21;
  background-image: linear-gradient(315deg, #0057b8, #0057b8 100%, rgba(113, 32, 153, 0.45));
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.section.darkgrey {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.section.darkestgrey {
  background-color: #1d1f21;
}

.section.press {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
}

.section.black {
  background-color: #000;
}

.section.sign-up {
  background-color: #000;
  background-image: linear-gradient(312deg, rgba(136, 92, 156, 0.63) 6%, rgba(143, 90, 166, 0.8));
  color: #ebedf2;
}

.section.white {
  background-color: #fff;
  color: #1d1f21;
}

.section.content-pages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.about-image {
  height: 330px;
  background-image: url('../images/team.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.huge-heading {
  display: inline;
  overflow: scroll;
  margin: auto;
  padding-right: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  text-indent: 0px;
  text-transform: none;
}

.subtitle {
  width: 100%;
  margin: auto auto 60px;
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #4c4646;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.subtitle.pricing {
  margin-bottom: 0px;
  font-size: 18px;
}

.subtitle.content-pages {
  margin-bottom: 0px;
}

.outline-button {
  display: inline-block;
  margin-left: 15px;
  padding: 11px 24px;
  border: 2px solid hsla(0, 0%, 100%, 0.54);
  border-radius: 2px;
  -webkit-transition: border-color 200ms ease, color 500ms ease;
  transition: border-color 200ms ease, color 500ms ease;
  font-family: 'Roboto Condensed', sans-serif;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.outline-button:hover {
  border-color: #fff;
  color: #fff;
}

.outline-button:active {
  border-color: hsla(0, 0%, 100%, 0.78);
  background-color: rgba(0, 0, 0, 0.2);
  color: hsla(0, 0%, 100%, 0.78);
}

.slide {
  background-color: #6e4040;
}

.press-title {
  font-family: 'Roboto Slab', sans-serif;
  color: #696969;
  text-transform: uppercase;
}

.press-image-wrapper {
  width: 16.66%;
  float: left;
  text-align: center;
}

.press-image-wrapper.title {
  padding-top: 21px;
}

.press-logo {
  opacity: 0.35;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.press-logo:hover {
  opacity: 0.48;
}

.footer-link {
  display: inline-block;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #0bd685;
}

.footer-link:active {
  color: #5f6266;
}

.field-left {
  width: 73%;
  margin-bottom: 10px;
  float: left;
  border-style: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #5f6266;
  color: #d7d9de;
}

.field-left:focus {
  background-color: #525559;
  box-shadow: 0 0 6px 0 transparent;
}

.success-message {
  background-color: #5f6266;
}

.success-message.big {
  padding: 41px;
}

.no-spam {
  margin-top: 10px;
  clear: both;
  color: #5f6266;
  font-size: 11px;
}

.social-link {
  margin-right: 11px;
  opacity: 0.29;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 0.74;
}

.sign-up-column {
  padding-top: 9px;
  text-align: center;
}

.sign-up-title {
  margin-bottom: 7px;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.small-heading {
  margin-bottom: 6px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

.image-column {
  text-align: center;
}

.image-crop {
  overflow: hidden;
  height: 431px;
  margin-bottom: -80px;
}

.image-crop.ipad {
  height: 425px;
}

.image-crop.iphone {
  height: 429px;
}

.image-crop.hero {
  position: relative;
  display: block;
  width: 492px;
  height: 130px;
  margin: 78px auto -135px;
  -webkit-transition: height 500ms ease;
  transition: height 500ms ease;
}

.image-crop.hero:hover {
  height: 200px;
}

.feature-icon-wrapper {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  padding-top: 13px;
  float: left;
  border: 2px solid #5f6266;
  text-align: center;
}

.feature-list {
  margin-top: 24px;
}

.feature-list.no-padding {
  margin-top: 0px;
}

.feature-item {
  margin-top: 12px;
}

.feature-icon {
  opacity: 0.81;
}

.feature-text {
  margin-top: 6px;
  color: #8f9196;
  font-size: 12px;
  line-height: 15px;
}

.feature-text.title {
  margin-top: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #d7d9de;
  font-size: 16px;
  font-weight: 400;
}

.pricing-column {
  background-color: #2c2f30;
}

.pricing-row {
  margin-top: 28px;
  margin-bottom: 19px;
}

.plan-title {
  padding: 19px 15px;
  border-bottom: 3px solid rgba(218, 224, 232, 0);
  font-size: 21px;
  text-align: center;
}

.plan-title.pro {
  border-bottom-color: transparent;
  background-color: rgba(215, 217, 222, 0.09);
}

.price {
  margin-top: 36px;
  margin-bottom: 13px;
  font-family: Roboto, sans-serif;
  font-size: 52px;
  line-height: 41px;
  font-weight: 300;
  text-align: center;
}

.per-month {
  margin-bottom: 25px;
  color: #6f7378;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.price-feature {
  padding: 10px 19px;
  font-size: 16px;
  text-align: center;
}

.price-feature.deactivate {
  color: rgba(215, 217, 222, 0.7);
  text-decoration: line-through;
}

.get-started-link {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 18px;
  -webkit-transition: color 200ms ease, border-color 500ms ease;
  transition: color 200ms ease, border-color 500ms ease;
  color: #0bd685;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.get-started-link:hover {
  color: #fff;
}

.get-started-link.pricing {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.get-started-link.in-hero {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.get-started-link.in-hero:hover {
  color: #000;
}

.get-started-link.simple {
  margin-top: 18px;
  margin-bottom: 18px;
  border-bottom: 3px solid rgba(215, 217, 222, 0.2);
  color: #d7d9de;
}

.get-started-link.simple:hover {
  border-bottom-color: rgba(215, 217, 222, 0.56);
  color: #e8eaed;
}

.support {
  text-align: right;
}

.no-pad-section {
  background-color: #1d1f21;
}

.padded-column {
  padding: 66px 32px;
}

.padded-column.picture {
  height: 366px;
  background-image: url('../images/bag-and-hands-bw.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.width-limiter {
  max-width: 500px;
}

.question {
  margin-top: 52px;
  margin-bottom: 8px;
  color: #f2f4f7;
  font-size: 19px;
  font-weight: 400;
}

.question.help {
  margin-top: 0px;
  margin-bottom: 0px;
}

.need-help-row {
  margin-top: 41px;
  padding: 29px;
  background-color: rgba(95, 98, 102, 0.54);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.contact-text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: none;
}

.more-questions {
  margin-right: 22px;
  float: left;
}

.service-block {
  padding: 12px;
  background-color: #2c2f30;
}

.number {
  text-align: center;
}

.service-title {
  text-align: center;
}

.field {
  height: 52px;
  margin-bottom: 21px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #5f6266;
  box-shadow: inset 0 0 0 0 transparent;
  -webkit-transition: background-color 250ms ease, box-shadow 250ms ease;
  transition: background-color 250ms ease, box-shadow 250ms ease;
  color: #fff;
  font-size: 16px;
}

.field:hover {
  background-color: #515357;
}

.field:focus {
  border-color: #0f8ad1;
  box-shadow: inset 0 0 0 2px #0f8ad1;
}

.field.left {
  width: 49%;
  margin-right: 2%;
  float: left;
}

.field.right {
  width: 49%;
  float: left;
}

.testimonial-wrapper {
  border-radius: 3px;
}

.testimonials-title {
  margin-bottom: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(165, 167, 173, 0.54);
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}

.testimonial {
  margin-top: 25px;
  margin-bottom: 7px;
  font-family: 'Roboto Slab', sans-serif;
  color: #a0a2a8;
  font-size: 17px;
}

.testimonials-author {
  padding-left: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #85878c;
  font-size: 16px;
}

.testimonials-column {
  padding-left: 0px;
}

.testimonials-block {
  margin-left: 16px;
  padding-left: 17px;
  border-left: 1px solid #5f6266;
}

.sign-up-form {
  padding-right: 23px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.22);
}

.container {
  position: relative;
  left: 220px;
  clear: left;
}

.services-paragraphs {
  margin-bottom: 60px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.services-paragraphs.table {
  margin-bottom: 30px;
}

.paragraph-2 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.paragraph-3 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.body {
  padding-top: 0px;
  background-color: #fff;
}

.button-2 {
  position: static;
  left: auto;
  right: auto;
  display: inline-block;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 40px;
  float: none;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0057b8;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #0bd685;
}

.button-2:active {
  background-color: #1d1f21;
}

.section-2 {
  border: 1px solid transparent;
  background-color: #fff;
}

.paragraph-4 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.services-headings {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #0057b8;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.heading-2 {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.paragraph-5 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.paragraph-6 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.heading-6 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.paragraph-7 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.paragraph-8 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-span {
  display: inline-block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #1d1f21;
}

.bold-text {
  display: inline;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: none;
  direction: ltr;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.text-span-2 {
  color: #ffcd00;
}

.hero-text {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.paragraph-9 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.nav-link-2 {
  font-size: 14px;
  font-weight: 400;
}

.nav-link-2.w--current {
  font-size: 16px;
  font-weight: 500;
}

.nav-link-3 {
  font-size: 16px;
  font-weight: 500;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.text-block-4 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.section-3 {
  border: 1px solid transparent;
  background-color: #fff;
}

.text {
  margin-bottom: 60px;
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
  line-height: 24px;
}

.text.bullet {
  margin-bottom: 10px;
  padding-left: 0px;
}

.section-4 {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}

.other {
  color: #1d1f21;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.text-block-7 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.text-block-8 {
  font-family: Montserrat, sans-serif;
  color: #1d1f21;
}

.image {
  margin-bottom: 100px;
  text-align: center;
}

.div-block {
  text-align: center;
}

.text-block-9 {
  padding-top: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.link {
  background-color: #fff;
  color: #0057b8;
}

.link:hover {
  color: #0bd685;
}

.link:active {
  color: #1d1f21;
}

.container-2 {
  padding-top: 60px;
}

.button-3 {
  background-color: #fff;
  color: #0057b8;
}

.button-3:hover {
  background-color: #0bd685;
  color: #0057b8;
}

.button-3:active {
  background-color: #2c2f30;
}

.nav-link-4 {
  font-weight: 400;
}

.nav-link-4.w--current {
  font-size: 16px;
  font-weight: 500;
}

.nav-link-5 {
  font-weight: 400;
}

.nav-link-5.w--current {
  font-size: 16px;
  font-weight: 500;
}

.text-block-10 {
  margin-right: auto;
  margin-left: auto;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-2 {
  background-color: #fff;
  color: #fff;
}

.nav-link-6 {
  font-family: Montserrat, sans-serif;
}

.logo {
  width: 225px;
  background-image: url('../images/albion-logo.png');
  background-position: 50% 50%;
  background-size: 225px;
  background-repeat: no-repeat;
}

.logo.w--current {
  display: block;
  width: 210px;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-image: url('../images/albion-logo.png');
  background-position: 50% 50%;
  background-size: 200px;
  background-repeat: no-repeat;
}

.column-1 {
  padding-right: 40px;
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 40px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-2 {
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

.secondary-heading {
  font-family: Montserrat, sans-serif;
  color: #0057b8;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

.single-column-text {
  display: block;
  margin-top: 0px;
  margin-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

.list {
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
}

.eyebrow {
  margin-top: 30px;
  margin-bottom: 10px;
}

.email-me-butten {
  margin-top: 60px;
  padding: 20px 30px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.image-2 {
  display: none;
}

.div-block-2 {
  display: block;
  overflow: visible;
}

.div-block-3 {
  background-color: #0f8ad1;
}

.div-block-4 {
  display: block;
}

.grid {
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." ". . . ." ". . . ." ". . . ." ". . . ." "Area Area Area Area" "Area-3 Area-3 Area-3 Area-3" ". . . ." ". . . ." ". . . ." "Area-2 . . .";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: minmax(80px, 0.75fr) 0px auto 0px auto 0px auto 0px auto 0px auto 0px 1fr 0px minmax(auto, 1fr) 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto;
  grid-template-rows: minmax(80px, 0.75fr) auto auto auto auto auto 1fr minmax(auto, 1fr) auto auto auto auto auto auto auto auto auto;
}

.services-headline {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 45px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.services-headline.outsourced {
  background-color: #569ae7;
}

.services-headline.collaborative {
  background-color: #0057b8;
}

.services-headline.strategic {
  background-color: #083c75;
}

.service-subhead {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #a5a7ad;
  font-family: Montserrat, sans-serif;
  color: #5f6266;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.service-subhead.options {
  height: 100%;
  padding-top: 70px;
  border-bottom-style: none;
  text-align: center;
}

.service-text {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 20px;
  border-bottom: 1px none #a5a7ad;
  font-family: Montserrat, sans-serif;
  color: #2c2f30;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.service-text.outcourced {
  height: 100%;
  background-color: #ecf5ff;
  text-align: center;
}

.service-text.collaborqative {
  background-color: #d1e7ff;
  text-align: center;
}

.service-text.strategic {
  background-color: #aed4ff;
  text-align: center;
}

.service-text.outsourced {
  border-bottom-style: none;
  text-align: center;
}

.service-check {
  display: block;
  width: 100%;
  height: 100%;
  padding: 35px 106px;
  border-bottom: 1px none #a5a7ad;
  text-align: center;
}

.service-check.outsourced {
  background-color: #eaf4ff;
}

.service-check.collaborative {
  background-color: #d1e7ff;
}

.service-check.strategic {
  background-color: #aed4ff;
}

.pricing-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.pt-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pt-cell {
  height: 140px;
  border-bottom: 1px solid #a5a7ad;
}

.pt-cell.outsourced {
  background-color: #ecf5ff;
}

.pt-cell.collaborative {
  background-color: #d1e7ff;
}

.pt-cell.strategic {
  background-color: #aed4ff;
}

.pt-cell.half {
  height: 50px;
}

.pt-cell.half.gray {
  background-color: #f3f3f3;
}

.italic-text {
  font-style: normal;
}

.italic-text-2 {
  font-style: normal;
}

@media screen and (max-width: 991px) {
  .button {
    background-color: #0bd685;
  }
  .nav-link {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    float: none;
    box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
  .nav-link:hover {
    background-color: #0bd685;
    color: #fff;
  }
  .nav-link.w--current {
    background-color: #0bd685;
  }
  .nav-link.right {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    border-style: none;
  }
  .logo-text {
    padding-bottom: 20px;
  }
  .nav-menu {
    width: 100%;
    background-color: #000;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.28);
  }
  .menu-button {
    color: #fff;
  }
  .menu-button:hover {
    background-color: #000;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .section.hero {
    padding: 78px 60px 104px;
  }
  .section.darkgrey {
    margin-right: 60px;
    margin-left: 60px;
  }
  .section.footer {
    padding-right: 60px;
    padding-left: 60px;
  }
  .huge-heading {
    margin-bottom: 12px;
    font-size: 40px;
    line-height: 57px;
  }
  .subtitle {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 19px;
    line-height: 25px;
  }
  .press-image-wrapper {
    padding-right: 8px;
    padding-left: 8px;
  }
  .press-image-wrapper.title {
    padding-top: 12px;
  }
  .small-heading {
    font-size: 34px;
  }
  .image-crop {
    height: 451px;
    margin-bottom: -80px;
  }
  .image-crop.ipad {
    height: 449px;
    margin-bottom: -80px;
  }
  .image-crop.iphone {
    height: 489px;
    margin-bottom: -80px;
  }
  .image-crop.hero {
    height: 250px;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  .image-crop.hero:hover {
    height: 250px;
  }
  .price-feature {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .get-started-link.pricing {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .padded-column.picture {
    height: 436px;
  }
  .icon {
    color: #1d1f21;
  }
  .button-3 {
    font-size: 18px;
  }
  .container-3 {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav-menu-2 {
    width: 80vw;
    background-color: #0057b8;
  }
  .navbar-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-item {
    position: absolute;
    left: 0%;
    top: 10%;
    right: auto;
    bottom: auto;
  }
  .menu-item.w--open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #fff;
  }
  .image-2 {
    position: absolute;
    display: block;
    overflow: visible;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .services-headline {
    font-size: 14px;
  }
  .service-subhead.options {
    padding-top: 31px;
  }
  .service-check {
    position: static;
    height: 100%;
    padding-right: 63px;
    padding-left: 63px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .navbar {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section {
    padding: 40px 20px;
  }
  .section.hero {
    padding-top: 74px;
    padding-bottom: 74px;
  }
  .section.press {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
  }
  .section.sign-up {
    text-align: center;
  }
  .section.about-image {
    height: 280px;
  }
  .huge-heading {
    font-size: 36px;
    line-height: 48px;
  }
  .subtitle {
    width: 90%;
  }
  .subtitle.pricing {
    margin-bottom: 16px;
  }
  .press-title {
    display: block;
  }
  .press-image-wrapper {
    width: 33%;
  }
  .press-image-wrapper.title {
    width: 100%;
    padding-top: 5px;
  }
  .small-heading {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 400;
  }
  .image-crop {
    margin-bottom: 36px;
    border-bottom: 3px solid #5f6266;
    text-align: center;
  }
  .image-crop.ipad {
    margin-bottom: 36px;
  }
  .image-crop.iphone {
    height: 389px;
    margin-bottom: -40px;
    border-bottom-style: none;
  }
  .image-crop.hero {
    width: auto;
  }
  .feature-list {
    margin-bottom: 20px;
  }
  .pricing-column {
    margin-right: 33px;
    margin-left: 33px;
  }
  .pricing-row {
    margin-top: 9px;
  }
  .get-started-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .get-started-link.simple {
    display: inline-block;
  }
  .support {
    text-align: center;
  }
  .all-devices-image {
    width: 50%;
  }
  .padded-column {
    padding: 41px 30px;
  }
  .padded-column.picture {
    height: 246px;
  }
  .question {
    margin-top: 32px;
  }
  .contact-text {
    clear: left;
  }
  .service-block {
    margin-bottom: 19px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .field.left {
    width: 49%;
    margin-right: 3%;
  }
  .field.right {
    width: 48%;
  }
  .testimonials-column {
    padding: 16px 22px 22px;
    border: 2px solid rgba(95, 98, 102, 0.79);
  }
  .sign-up-form {
    padding-right: 0px;
    border-right-style: none;
  }
  .center {
    text-align: center;
  }
  .title {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-column {
    margin-bottom: 33px;
  }
  .column-1 {
    padding-right: 0px;
  }
  .column-3 {
    padding-left: 0px;
  }
  .column-2 {
    margin-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
    border-right-style: none;
    border-left-style: none;
  }
  .single-column-text {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    display: block;
    margin-bottom: 14px;
  }
  .navbar {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section.hero {
    padding: 54px 20px;
  }
  .section.darkgrey {
    margin-right: 20px;
    margin-left: 20px;
  }
  .huge-heading {
    display: inline;
    font-size: 24px;
    line-height: 31px;
  }
  .subtitle {
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
  .outline-button {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
  .press-image-wrapper {
    width: 100%;
    height: 47px;
  }
  .small-heading {
    font-size: 21px;
    line-height: 26px;
  }
  .image-crop {
    height: 270px;
  }
  .image-crop.iphone {
    height: 325px;
  }
  .pricing-column {
    margin-right: 0px;
    margin-left: 0px;
  }
  .all-devices-image {
    width: 70%;
  }
  .padded-column {
    padding-right: 20px;
    padding-left: 20px;
  }
  .padded-column.picture {
    height: 226px;
  }
  .field.left {
    width: 100%;
    margin-right: 0%;
  }
  .field.right {
    width: 100%;
  }
  .ipad-image {
    padding-right: 14px;
    padding-left: 14px;
  }
  .iphone-image {
    padding-right: 25px;
    padding-left: 25px;
  }
  .hero-text {
    padding-right: 0px;
    padding-left: 0px;
  }
  .single-column-text {
    padding-right: 30px;
    padding-left: 30px;
  }
}

